* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

button {
  all: initial;
}

@media only screen and (max-width: 1024px) {
  .product_item {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .container {
      width: 325px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    h1 {
      color: #000;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 55px;
      margin-top: 50px;
    }

    .image {
      width: 325px;
      height: 408px;
      background: #d9d9d9;
    }

    .price {
      color: #000;
      font-size: 17px;
      font-weight: 400;

      margin: 7px 0;
    }
  }

  .choose_color {
    display: flex;
    margin-bottom: 23px;
    cursor: pointer;

    .color {
      width: 32px;
      height: 32px;

      border-radius: 50%;
      margin-right: 7px;
    }
  }

  .selected {
    outline: 1px solid black;
    outline-offset: 2px;
  }

  .choose_size {
    cursor: pointer;
    margin-bottom: 23px;
    display: flex;
    gap: 15px;

    .size_button {
      width: 25px;
      padding: 1px 1px;
      background-color: #f1f1f1;
      border-radius: 50%;
      color: #000;

      font-family: Inter;
      font-size: 21px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: center;
    }
    .disabled {
      color: rgb(164, 159, 159);
      text-decoration: line-through;
    }
  }

  .selected_size {
  }

  .button_checkout {
    width: 325px;
    height: 40px;
    background: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;

    margin-bottom: 40px;
  }
}
