* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

button {
  all: initial;
}

@media only screen and (max-width: 1024px) {
  .product_item {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .container {
      width: 325px;
    }

    h1 {
      color: #000;

      margin-bottom: 55px;
      margin-top: 50px;
      color: #000;

      font-family: Inter;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .price {
      color: #000;
      font-size: 17px;
      font-weight: 400;

      margin: 7px 0;
    }
  }

  .choose_color {
    display: flex;
    margin-bottom: 23px;
    cursor: pointer;

    .color {
      width: 32px;
      height: 32px;

      border-radius: 50%;
      margin-right: 7px;
    }
  }

  .selected {
    outline: 1px solid black;
    outline-offset: 2px;
  }

  .choose_size {
    cursor: pointer;

    display: flex;
    gap: 15px;
    margin-bottom: 23px;
  }

  .warning {
    margin-top: 8px;
    color: red;
    font-weight: bold;
  }

  .accordions_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 196px;
  }
  .stripe_container {
    position: relative;
  }
  .notAvailable_caption {
    color: #e80101;
    font-family: Commissioner;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
