.flex_container {
  display: flex;
  align-items: center;
  justify-content: center;
  .pagination {
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    color: #000;

    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.disabled {
  opacity: 0.5;
}
