.container {
  padding: 1.5625rem 3.1875rem;
  .form_container {
    margin: 0 18.125rem;
  }
}
.contact_page {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  // justify-content: space-between;
}
@media only screen and (max-width: 767.98px) {
  .container {
    padding: 0 15px;
    .form_container {
      margin: 0 0;
    }
  }
}
