@import "../../../styles/_global.scss";
.textarea {
  width: 100%;
  height: 93px;
  border: 1px solid #000000;
  padding: 1px 5px;
  color: #000;
  font-family: "Commissioner", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 7px;
}
.textarea:focus {
  outline: none;
  border: 2px solid #000000;
}
.area {
  margin-top: 12px;
  font-family: "Commissioner", sans-serif;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.label {
  font-family: "Commissioner", sans-serif;
}

@media only screen and (max-width: 767.98px) {
  .area {
    font-size: 1.25rem;
  }
}
