.product {
  display: flex;
  max-height: 93px;

  .cross_container {
    display: flex;
    justify-content: end;
    .cross {
      width: 20px;
      height: 20px;
    }
  }

  h2 {
    color: #000;
    font-size: 15px;
    font-weight: 400;
  }
}

.product_block {
  width: 100%;
  display: flex;
  flex-direction: column;

  margin: 13px 0 20px 0;
  .not_available {
    margin-top: 10px;
  }
}

.product_info {
  display: flex;
  flex-basis: 96%;

  gap: 18px;
  flex-grow: 1;
  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .img_basket {
    height: 93px;
    min-width: 74px;
  }

  .product_description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 100%;
  }
}
