@import "../..//styles/_global.scss";
.product {
  display: flex;
  max-height: 13.0625rem;

  .cross_container {
    display: flex;
    justify-content: end;
    .cross {
      width: 20px;
      height: 20px;
    }
  }

  .name {
    color: #000;
    font-family: "Cochin";
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.product_block {
  width: 100%;
  display: flex;
  flex-direction: column;

  margin: 13px 0 20px 0;
  .not_available {
    margin-top: 10px;
  }
}

.product_info {
  display: flex;
  flex-basis: 96%;

  gap: 18px;
  flex-grow: 1;
  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .img_basket {
    height: 9.5rem;
    min-width: 7.75rem;
  }

  .product_description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 100%;
  }
  .characteristic {
    font-family: "Comissioner", sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #0d2c1a;
    .grey_text {
      color: #b2b8b4;
    }
  }
}
@media only screen and (max-width: 767.98px) {
  .product {
    max-height: 5.8125rem;
    .name {
      font-size: 18px;
    }
  }

  .product_info {
    .characteristic {
      font-size: 15px;
      .grey_text {
        color: black;
      }
    }
    .img_basket {
      height: 93px;
      min-width: 74px;
    }
  }
}
