@import "../../../styles/_global.scss";
.container {
  margin-top: 12px;
  color: #000;

  font-family: "Commissioner", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.accordion {
  margin-top: 7px;
  width: 100%;

  background: #ffffff;
  border: 1px solid #000000;
}

.focused {
  border: 2px solid #000000;
}

.disabled {
  border: 2px solid #909090;
}
.disabled_label {
  color: #909090;
}

ul {
  list-style: none; /* Remove bullets or markers */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}
.accordion_visible {
  background: #ffffff;
  width: 100%;

  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
  //padding: 7px 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #000000;

  font-family: "Commissioner", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.accordion_visible span {
  padding: 7px 30px 7px 6px;
  font-size: 20px;
}
.accordion_visible img {
  width: 20px;
  transform: rotate(-180deg);
  transition: transform 0.3s ease-in-out;
  margin-right: 10px;
}
.accordion_visible img.active {
  transform: rotate(0deg);
}

.accordion_toggle {
  overflow: auto;
  color: #000;

  transition: all 0.3s ease-out;
  color: #333;
}
.selectedValue {
  color: #000;
  text-decoration: none;
  background-color: #d7d1d1;
  padding: 10px 5px;

  display: block;
  width: 100%;

  font-family: "Commissioner", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: block;
  width: 100%;
  &:hover {
    cursor: pointer;
    background-color: #d7d1d1;
  }
}

.animated {
  opacity: 1;

  transition: all 0.3s ease-out;
}

.option {
  text-decoration: none;
  padding: 10px 5px;
  display: block;
  width: 100%;
  color: #000000;

  font-family: "Commissioner", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  width: 100%;
  &:hover {
    cursor: pointer;
    background-color: #f5f1f1;
  }
}

.list_categories {
  margin: 0px 5px;
  overflow-y: auto;
}
.label {
  font-family: "Commissioner", sans-serif;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.name_category {
  margin-left: 4px;
  font-family: "Commissioner", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input {
  border: none;
  flex: 1;
  height: 100%;
  font-family: "Commissioner", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 6px;
  &:hover {
    cursor: pointer;
  }
}
input:focus {
  outline: none;
}

@media only screen and (max-width: 767.98px) {
  .label,
  .input {
    font-size: 20px;
  }
}
