@import "../../../styles/_global.scss";
.flex_container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  .caption {
    background-color: #fff;
    padding: 3px 7px;
    color: #000;
    font-family: "Cochin";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media only screen and (max-width: 767.98px) {
  .flex_container {
    .caption {
      font-size: 30px;
    }
  }
}
