@import "../../styles/_global.scss";
.accordion {
  width: 100%;

  background: #fff;
}

.accordion_visible {
  display: flex;
  margin: 15px auto 0 auto;
  width: 92.5%;
  max-height: 41px;
  background-color: $backgroundColor;
  align-items: center;
  padding: 10px 0px;
  gap: 12px;

  color: $textColor;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.accordion_visible span {
  // padding: 15px 0;
  font-size: 20px;
}
.accordion_visible img {
  margin-right: 5px;
  width: 20px;
  transform: rotate(-180deg);
  transition: transform 0.2s ease-in-out;
}
.accordion_visible img.active {
  transform: rotate(0deg);
}
.flexend_container {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.accordion_toggle {
  color: $textColor;
  width: 92.5%;
  margin: 0 auto;

  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  color: #333;
}

.animated {
  opacity: 1;

  transition: all 0.5s ease-in-out;
}

.menu_link a {
  color: $textColor;
  text-decoration: none;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  width: 100%;
}
.menu_link {
  margin-bottom: 16px;
  display: block;
  width: 100%;
}

.name_category {
  margin-left: 4px;
  font-family: "Cochin";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.filters_container {
  background-color: $backgroundColor;
}
.control_buttons {
  display: flex;
  padding: 0px 20px;
  justify-content: center;
  gap: 40px;
  .control_button {
    padding: 4px 12px;
    width: 120px;

    border-radius: 3px;
    border: 1px solid #f6f6f6;
    text-align: center;
    margin: 20px 0px 31px 0px;
    text-align: center;
    font-family: Cochin;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
