.form_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.filter {
  color: #545454;

  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.label_container {
  display: flex;
  gap: 3px;
}
