
.container {
  width: 90%;
  margin: 30px auto;
}

.conditions_section {
  
}

.title_block {
  // display: flex;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;

    .flexGrow {
      height: 2px; 
      width: 100%;
      background-color: #000; 
      flex-grow: 1;
      margin-left: 10px;
    }
  }

  .title {
    width: 70px;
  }
}

.title_conditions {
  width: 100%;
}





.return_rules {
  margin-top: 20px;
}

.return_rules ul {
  list-style-type: none;
  padding: 0;
}

.return_rules li {
  margin-bottom: 25px;
  color: #000;
  font-family: Commissioner;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}




.return_benefits {
  margin-top: 30px;

  .line {
    position: absolute;
    width: 75%;
    height: 2px;
    top: -3px;
    background-color: #000;
  }

  h3 {
    position: relative;
    color: #000;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;

    width: 320px;
    margin-bottom: 12px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      color: #000;
      font-size: 20px;
      font-weight: 400;
    }
  }
}