* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  .picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 442px;
    background: #D9D9D9;
  
    margin-bottom: 35px;
  
    img {
      margin-bottom: 7px;
    }
  
    h1 {
      color: #000;
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 12px;
    }
  
    p {
      color: #000;
      font-size: 30px;
      font-weight: 400;
    }
  }

  .history_block {
    margin: 0 14px;
    margin-bottom: 34px;

    h1 {
      color: #000;
      font-size: 30px;
      font-weight: 400;

      margin-bottom: 7px;
    }

    p {
      color: #000;
      font-size: 20px;
      font-weight: 400;
    }
  }



  .pictures_grid {
    display: grid;
    place-items: center;
  }

  .pictures_grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr; 
    grid-gap: 10px;
    margin: 0 17px;
    margin-bottom: 55px;
    height: 32vh;
    width: 370px;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .first_image {
      width: 184px;
      height: 258px;
      flex-shrink: 0;

      grid-column: 1 / 2; /* Занимает первую колонку */
      grid-row: 1 / 3;    /* Занимает обе строки */
    }
    
    .second_image {
      width: 149px;
      height: 159px;
      flex-shrink: 0;

      grid-column: 2 / 3; /* Занимает вторую колонку */
      grid-row: 1 / 2;    /* Занимает только верхнюю строку */
    }
    
    .third_image {
      width: 149px;
      height: 88px;
      flex-shrink: 0;

      grid-column: 2 / 3; /* Занимает вторую колонку */
      grid-row: 2 / 3;    /* Занимает только нижнюю строку */
    }
  }

  .ourforced_block {
    margin: 0 14px;
    margin-bottom: 34px;

    h1 {
      color: #000;
      font-size: 30px;
      font-weight: 400;

      margin-bottom: 7px;
    }

    p {
      color: #000;
      font-size: 20px;
      font-weight: 400;
    }
  }
}




