@import "../../../styles/_global.scss";
.container {
  position: relative;
  margin: 1rem 3.25rem;
  padding: 1rem 0;
  .flex_container {
    display: flex;
    justify-content: flex-end;
    padding-right: 2.4375rem;
    gap: 3rem;
    .filter_btn {
      padding: 0.3125rem 0.8125rem;
      border: 2px solid #000;
      font-size: 25px;
      font-family: "Commissioner", sans-serif;
      border-radius: 3px;
    }
  }
}
