@import "../../../styles/_variables.scss";
.addition_block {
  background-color: $backgroundColor;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 12px;
  margin-top: 5px;
}
.menu_container {
  margin-left: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
  .menu_link {
    color: $textColor;

    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  margin-bottom: 11px;
  .small_logo {
    height: 20px;
    width: 20px;
  }
  .more_gap {
    margin-left: 3px;
  }
  .mail {
    width: 35px;
    height: 25px;
  }
  .inst {
    margin-left: 3px;
    width: 29px;
    height: 29px;
  }
  .phone {
    margin-left: 5px;
    width: 25px;
    height: 25px;
  }
  .telegram {
    width: 30px;
    height: 34px;
  }
}
