@import "../../styles/_global";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.footer {
  width: 100vh;

  background-color: $backgroundColor;
  // position: fixed;
  bottom: 0;
  left: 0;
  justify-self: flex-end;
}

.footer_content {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .footer {
    width: 100%;

    background-color: $backgroundColor;
    margin-top: auto;
    color: $textColor;
  }

  .footer_content {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
  }

  .footer_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7px;
  }

  .footer_links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;

    margin-top: 9px;
    margin-left: 15px;
    font-family: "Commissioner", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    .link {
      display: flex;
      align-items: center;
    }

    a {
      color: $textColor;
      font-size: 20px;
      font-weight: 400;
      font-family: "Commissioner", sans-serif;
    }
  }

  .footer_icons {
    margin-top: 13px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    gap: 24px;
    .icon {
      margin-left: 3px;
    }
  }
}
