.name_container {
  position: relative;
  margin-top: 32px;
  //height: 76px;

  .name {
    color: #000;
    font-family: LT Oksana;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: rgb(255, 255, 255);
    width: 62.5%;
    z-index: 3;
  }
}

.checkbox_container {
  margin-top: 11px;
  display: flex;
  gap: 10px;
  .checkbox {
    width: 23px;
    height: 23px;
  }
  .add_package {
    width: 72.25%;
    color: #000;

    font-family: LT Oksana;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .price {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    color: #000;

    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.description {
  margin-top: 9px;
  color: #000;
  width: 80%;

  font-family: Commissioner;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.package_photo {
  margin-top: 25px;
  margin-bottom: 29px;
  width: 100%;
  height: 206px;
}
