@import "../../../styles/_global.scss";
.total_container {
  padding: 9px 11px;
  border: 2px solid #000;
  .quantity_products {
    margin-bottom: 15px;
    font-family: "Commissioner", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .item_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    gap: 2px;
    .item_name {
      color: #000;
      font-family: Cochin;
      font-size: 25px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      max-width: 75%;
    }
    .item_quantity {
      color: #000;
      font-family: "inter", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .item_info {
    color: #909090;

    font-family: "Commissioner", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .total_price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .total_caption {
      color: #000;
      font-family: Cochin;
      font-size: 25px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  .total_product {
    margin-bottom: 14px;
  }
}
